{{define "add"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Add Produit</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/Add_Produit.css">
    </head>
    <body>
        {{template "header"}}
        <div class="add">

            <form action="/add_handle" method="post">
                <!--Input nom name="name"--> <input type="text" name="name">
                <!--Input prix name="price"--> <input type="text" name="price">
                <!--Input reduction name="reduc"--> <input type="text" name="reduc">
                <!--Input image name="image"--> <input type="image" name="image">
                <!--Input tailles name="tailles"--> <input type="text" name="tailles">
            </form>
        </div>
    </body>
</html>
{{end}}